body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

h1,
h6 {
  color: #ffff;
  text-align: center;
  font-weight: 100;
}

h1 {
  margin-bottom: 5px;
  font-size: 1.7em;
}

h6 {
  font-size: 13px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #ffff;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.weather-app-wrapper {
  max-width: 450px;
  margin: 30px auto;
}

.weather-app {
  background: #52539c url("image/bk_day.jpg") no-repeat;
  background-size: contain;
  max-height: 800px;
  min-height: 800px;
  border-radius: 25px;
}

.change-search {
  width: 75%;
  margin: 0 auto;
}

.change {
  border: none;
  margin-top: 5px;
}

.form-button {
  background-color: #ffff;
  border: none;
  padding: 4px 12px;
  margin-top: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature {
  color: #ffff;
  text-align: center;
}

#description {
  text-transform: capitalize;
}

.weather-temperature strong {
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .unit {
  position: relative;
  font-size: 16px;
  top: -26px;
}

.weather-temperature .active {
  color: #ffff;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.col-6 {
  padding-right: 0;
  padding-left: 0;
}

.weather-details {
  text-align: center;
}

.weather-forecast {
  margin-top: 470px;
  color: #ffff;
  /* margin-left: 5px; */
}

.center-icon {
  text-align: center;
}

.weather-forecast h3 {
  font-size: 14px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
}

.weather-forecast-temperature {
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
}
